.main-header{
    position: absolute;
    margin-bottom: 20px;
    top: 10px;
    left: 40px;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px;
}
.sidebar-header{
    position: absolute;
    float: right;
    top: 20px;
    right: 100px;
    box-sizing: border-box;
    font: normal;
    word-spacing: 70px;
    text-transform: uppercase;
}
.block-header{
    position: absolute;
    float: right;
    width: 85%;
    top: 0;
    left: 15%;
    height: 20px;
    right: 0;
    padding: 20px;
    background-color: #aace9b;
}
