a{
    text-decoration: none;
    color: black;
}
.main-header{
    top: 0px;
    left: 40px;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px;
}
.sidebar-header{
    position: absolute;
    top: 20px;
    right: 5px;
    box-sizing: border-box;
    font: normal;
    word-spacing: 70px;
}
.block-header{
    position: absolute;
    top: 0;
    left: 15%;
    height: 20px;
    right: 0;
    padding: 20px;
    background-color: #aace9b;
}
