.btn-blk1 {
  position: relative;
  margin: 30px 0 0 100px;
  border: 3px solid #aace9b;
  border-radius: 30px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
}
#p-blk1{
  position: relative;
  margin: 50px;
  width: 35%;
  font-size: 100%;
  line-height: 30px;
  padding: 30px;
}
#title-blk1{
  margin:40px 0 0 40px;
  position: relative;
  left: 100px;
  width: 150px;
  line-height: 30px;
  font-size: 200%;
  text-align: center;
}
.left{
  position: relative;
  margin: 60px 0 0 10px;
  padding: 40px 0 0 0;
  left: 10%;
  background-image:url('../img/main-section.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  width: 90%;
}
.side{
  position: fixed;
  top: 60px;
  height: 100%;
  width: 15%;
  background-color: #ededed;
}
